.view-container{

    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    
    .title{
        font-size: 20px;
        align-content: center;
        height: 5.5%;
        
        
    }
    .three-days{
        width:98%;
        height:70%;
        .react-tabs__tab{
            width:45%;
        }
    }
    .search-section{
        display: flex;
        height:20%;
        flex-direction: column;
        width:100%;
        align-items: center;
        .search-box{
            position: relative;
            margin-top: 50px;
            
            input[type="text"]{
                display: inline-block;
                width: 500px;
                height: 40px;
                box-sizing: border-box;
                outline: none;
                border: 1px solid lightgray;
                border-radius: 3px;
                padding: 10px 10px 10px 100px;
                transition: all 0.1s ease-out;
            }
            
            input[type="text"] + label{
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                height: 40px;
                line-height: 40px;
                color: white;
                border-radius: 3px 0 0 3px;
                padding: 0 20px;
                background: rgb(114, 175, 255);
                transform: translateZ(0) translateX(0);
                transition: all 0.3s ease-in;
                transition-delay: 0.2s;
            }
            
            input[type="text"]:focus + label{
                transform: translateY(-120%) translateX(0%);
                border-radius: 3px;
                transition: all 0.1s ease-out;
            }
            
            input[type="text"]:focus{
                padding: 10px;
                transition: all 0.3s ease-out;
                transition-delay: 0.2s;
            }
        }
        .button-view{
            margin-top: 10px;
            height: 15%;
            width: 40%;
            .button-get {
                color: #fff !important;
                text-transform: uppercase;
                text-decoration: none;
                background: #60a3bc;
                height: 100%;
                width: 100%;
                border-radius: 20px;
                display: inline-block;
                border: none;
                transition: all 0.4s ease 0s;
                }
        }
    }
 
}